* {
    font-size: 16;
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 150%;
}

#chart {
    margin-left: 5%;
    width: 90%;
    height: 300px;
}


/* Dropdown Button */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content button {
    font-size: 14px;
    color: black;
    background-color: white;
    padding: 12px 16px;
    width: 100%;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content button:hover {
    background-color: #efebeb
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

header {
    background-color: #f8c22b;
    width: 100%;
    color: white;
    padding-left: 5%;
    padding-top: 0.02%;
    padding-bottom: 0.01%;
}

h1 {
    font-size: 30px;
    color: aliceblue;
    font-family: sans-serif;
    text-align: center;
}

.btn {
    background-color: #f5c43d;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 3%;
    font-family: sans-serif;
    color: white;
    border: 2px;
    border-radius: 2%;
    border-style: dotted;
}

.hidden {
    display: none;
}

.boldText {
    color: white;
    font-weight: bold;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 10px;
}

p {
    color: white;
    padding-left: 10px;
}

.box {
    margin-top: 4%;
    padding-bottom: 2%;
    background-color: rgba(157, 188, 188, 0.65);
    width: 90%;
    border-radius: 10px;
    align-content: center;
    overflow-y: scroll;
    max-height: 555px;
}

.ui-state-default {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    cursor: move;
}

.ui-sortable-placeholder {
    display: inline-block;
    list-style-type: none;
    border: 3px dashed #aaa;
    height: 10%;
    width: 90%;
    background: #f7d548;
}

button {
    background-color: #fcbc2d;
    color: white;
    border: 2px;
    border-radius: 2%;
    border-style: dotted;
}

nav {
    align-content: center;
    padding: 20%;
}

header {
    padding-top: 10px;
    color: white;
    font-family: fantasy;
    font-size: 26px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #7a7e7e;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: fixed;
    /*z-index: 1;*/
    left: 50%;
    bottom: 10%;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.0s;
    animation: fadein 0.5s, fadeout 0.5s 2.0s;
}


/* fade-in and fade-out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 10%;
        opacity: 0.8;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 10%;
        opacity: 0.8;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 10%;
        opacity: 0.8;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 10%;
        opacity: 0.8;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@media screen and (min-width:992px) {
    .col-lg-1 {
        width: calc(100% * 1/12);
    }
    .col-lg-2 {
        width: calc(100% * 2/12);
    }
    .col-lg-3 {
        width: calc(100% * 3/12);
    }
    .col-lg-4 {
        width: calc(100% * 4/12);
    }
    .col-lg-5 {
        width: calc(100% * 5/12);
    }
    .col-lg-6 {
        width: calc(100% * 6/12);
    }
    .col-lg-7 {
        width: calc(100% * 7/12);
    }
    .col-lg-8 {
        width: calc(100% * 8/12);
    }
    .col-lg-9 {
        width: calc(100% * 9/12);
    }
    .col-lg-10 {
        width: calc(100% * 10/12);
    }
    .col-lg-11 {
        width: calc(100% * 11/12);
    }
    .col-lg-12 {
        width: calc(100% * 12/12);
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .col-md-1 {
        width: calc(100% * 1/12);
    }
    .col-md-2 {
        width: calc(100% * 2/12);
    }
    .col-md-3 {
        width: calc(100% * 3/12);
    }
    .col-md-4 {
        width: calc(100% * 4/12);
    }
    .col-md-5 {
        width: calc(100% * 5/12);
    }
    .col-md-6 {
        width: calc(100% * 6/12);
    }
    .col-md-7 {
        width: calc(100% * 7/12);
    }
    .col-md-8 {
        width: calc(100% * 8/12);
    }
    .col-md-9 {
        width: calc(100% * 9/12);
    }
    .col-md-10 {
        width: calc(100% * 10/12);
    }
    .col-md-11 {
        width: calc(100% * 11/12);
    }
    .col-md-12 {
        width: calc(100% * 12/12);
    }
}

@media screen and (min-width:400px) and (max-width:767px) {
    .col-sm-1 {
        width: calc(100% * 1/12);
    }
    .col-sm-2 {
        width: calc(100% * 2/12);
    }
    .col-sm-3 {
        width: calc(100% * 3/12);
    }
    .col-sm-4 {
        width: calc(100% * 4/12);
    }
    .col-sm-5 {
        width: calc(100% * 5/12);
    }
    .col-sm-6 {
        width: calc(100% * 6/12);
    }
    .col-sm-7 {
        width: calc(100% * 7/12);
    }
    .col-sm-8 {
        width: calc(100% * 8/12);
    }
    .col-sm-9 {
        width: calc(100% * 9/12);
    }
    .col-sm-10 {
        width: calc(100% * 10/12);
    }
    .col-sm-11 {
        width: calc(100% * 11/12);
    }
    .col-sm-12 {
        width: calc(100% * 12/12);
    }
}

@media screen and (max-width:399px) {
    [class*="col-"] {
        width: 100%;
    }
    .jumbotron {
        background-repeat: no-repeat;
        height: 200px;
        padding: 10px;
    }
    .jumbotron h1 {
        font-size: 20px;
    }
    .jumbotron p {
        display: none;
    }
}
